/*

    Proyect: Grability Test

    Autor: José Torrens (https://ve.linkedin.com/in/jose-torrens)

    Date: 14/12/2016;

-------------------------------------------------------------------------
-------------------------------------------------------------------------*/

/*
  IMPORTS
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
@font-face{
   font-family: "Roboto-Regular";
   font-style: normal;
   font-weight: normal;
   src: url(./fonts/roboto/Roboto-Regular.ttf);
}
@font-face{
   font-family: "Roboto-Medium";
   font-style: normal;
   font-weight: normal;
   src: url(./fonts/roboto/Roboto-Medium.ttf);
}
@font-face{
   font-family: "Roboto-Thin";
   font-style: normal;
   font-weight: normal;
   src: url(./fonts/roboto/Roboto-Thin.ttf);
}
@font-face{
   font-family: "OpenSans-Regular";
   font-style: normal;
   font-weight: normal;
   src: url(./fonts/Open_Sans/OpenSans-Regular.ttf);
}

@import "node_modules/materialize-css/sass/materialize.scss";
/**************************************/
/*
  GENERALS
*/
/**************************************/
$dark-grey: #2D2727;
$white: #FFFFFF;
$red: #EC1D23;

$footerHeaderHeight:70px;
$listWidth:250px;

body{
    font-size: 16px;
    margin: 0;
    background-color: $white;
    overflow-x:hidden;
    font-family: "OpenSans-Regular"
}
/**************************************/
/*
  HEADER
*/
/**************************************/
header{
  height: $footerHeaderHeight !important;
}

header nav {
  background-color: $dark-grey;
  height: inherit;
}

header nav .brand-logo{
  width: 100px;
  margin-left: 50px;
}

header nav .brand-logo img{
  width: 100%;
  vertical-align: middle;
}

header nav .nav-wrapper input{
  width: 40%;
  background-color: #FAFAFA;
  border-radius: 5px;
  color: #B9B9B9;
  padding: 0 10px;
  background-image: url(../images/icons/search.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  margin: 0;
  vertical-align: middle;
}

header nav .nav-wrapper input:focus{
  border-bottom: 1px solid #9E9E9E !important;
  box-shadow: none !important;
}

/**************************************/
/*
  CONTENT
*/
/**************************************/

.grid{
  max-width: 60em;
  margin: 0 auto;
}

.grid.no-records{
  text-align: center;
}

.grid.no-records div{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.grid.no-records img{
  width: 50%;
}

.content-wrapper{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0;  
}

.left-side{
  background-color: #F4F4F4;
  min-height:calc(100vh - 70px) !important;
}

.right-side{
  background-color: #EBEBEB;
}

section .title{
  padding: 14px 0px;
  color: $dark-grey;
}

section .title span{
  font-size: 1.5em;
  font-weight: bold;
  vertical-align: middle; 
}

.right-side .title span{
  margin-left: 15px;
}

section .title img{
  vertical-align: middle; 
}
.char-card{
  height: 24em;
  margin-bottom: 3em;
}

.card.char-card:hover > .card-content figure img {
  box-shadow: 15px 11px 28px -15px rgba(8, 0, 0, 0.78);
}

.card.char-card:hover > .card-content .char-info .char-name{
  color: $red;
}

#characters-list .loading{
  text-align: center
}
#characters-list .loading img{
  width: 16em;
}

.char-card .card-content{
  padding: 0 !important;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.char-card .char-info{
  padding: 0 10px;
  margin-top: -25px;  
}

.char-card .char-info p{
  font-size: 1em;
  max-height: 10em;
  overflow-y: auto;  
}

.char-card figure{
  margin: -10px 0 0 -10px;
}

.char-card figure img{
  width: 12em;
  height: 12em;
}

.char-card span.char-name {
  font-size: 1.2em;
  text-transform: uppercase;  
  font-weight: bold;
}

.char-card .btn-view-more{
  background-color: $red;
  color: $white;
  font-size: 0.9em;
  padding: 0 1em;
  margin-top: 1em;
  text-transform: uppercase;  
  border-radius: 0;
}

.char-card .card-action, .card-aditional-data{
  border-top: 0;
  padding: 0 20px;
  color: #A2999A;
  font-size: 0.9em;
}

.card-aditional-data .btn-close{
  position: absolute;
  right: 10px;
  top: 10px;
}

.char-card .card-action .title, .card-aditional-data .title{
  color: #786E6D;
  font-weight: bold;
  font-size: 1.2em;
}


.char-card .card-action ul, .card-aditional-data ul{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;  
}

.char-card .card-action ul li, .card-aditional-data ul li{
  line-height: 15px;
  margin-bottom: 10px;  
  position: relative;
  cursor: pointer;
}

.char-card .card-action ul li:hover, .card-aditional-data ul li:hover{
  color: $red;
  font-weight: bold;
  margin-left: 25px;
}

.char-card .card-action ul li:before, .card-aditional-data ul li:before{
  content: '';
  background-image: url('../images/icons/link-arrow.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: -25px;
  top: 0;
  position: absolute;
}

.card-aditional-data{
  padding: 20px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  transition: transform 0.2s;
  display: none;  
}

.overflow{
  overflow: hidden !important;
}
.overflow .card-aditional-data{
  display: block !important;
}


.favourite-list{
  text-align: center;
}

.favourite-item{
  margin: 30px 0;
  position:relative;
}

.favourite-item img{
  width: 60%;
  cursor: pointer;
  height: auto;
}

.favourite-item span{
  display: block;
  padding: 0 3.5em; 
  color: $dark-grey;
  font-size: 1em;
  font-weight: bold;
}

.comic-detail .title{
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Roboto-Medium';
  text-transform: uppercase;  
}

.comic-detail img{
  width: 100%;
}

.comic-detail .btn-close{
  width: 25px;
  position: absolute;
  right: 10px;
  top: 10px;  
}

.comic-detail .modal-footer{
  height: auto;
  text-align: center;
  border-top: 0 !important;
  padding: 0;
}

.comic-detail .modal-footer .btn-comic-detail{
  padding: 20px 0;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

span.no-display{
  margin-left: 15px;
  font-weight: bold;  
}

.btn-buy{
  background-color:#DCDCDC;
  color: $red;
  cursor: pointer;
}

.btn-buy:hover {
    background-color: #e0e0e0;
    color: #ec6569;
}

.btn-add{
  background-color:#F0F0F0;
  color: $dark-grey;
  cursor: pointer;
}

.btn-add:hover{
  background-color:#DAD5D5;
  color: $red;
}

.btn-added{
  background-color:#322827;
  color: $red;
  cursor: pointer;
}

.btn-delete{
  width: 2em !important;
  position: absolute;
  top: -4%;
  right: 16%;
  z-index: 3;  
}

.btn-list{
  width: 40px;
  height: 40px;
  right: 0;
  margin-right: 20px;
  transition: all 1s;
  top: 6em;
  position: absolute;
  border-radius: 25px;
  background-image: url(images/icons/favourites.png);
  background-repeat: no-repeat;
  box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.58);
  background-size: contain;
  display: none;
}

.btn-list:hover{
  background-image: url(images/icons/btn-favourites-default.png);  
}

.btn-add-random {
  width: 50px;
  height: 50px;
  right: 0;
  margin-right: 20px;
  transition: all 1s;
  border-radius: 25px;
  position: fixed;
  background-image: url(images/icons/shield.png);
  background-repeat: no-repeat;
  box-shadow: 3px 3px 14px 0px rgba(84, 83, 83, 0.58);
  background-size: contain;
  top: 10px;
}

.btn-add-random:hover{
  opacity: 0.7;
}

.comic-detail .modal-footer img{
  width: 35px;
  vertical-align: middle;
}
.comic-detail .modal-body{
  width: 100%;
  height: 100%;
}
.comic-detail .loading{
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2000000;
  background-color: #FFFFFF;
}
.comic-detail .loading img{
  width: 250px;
  position: relative;
  top: 25%;
}

.toast{
  background-color:$dark-grey;
}

ul.pagination{
  margin: 40px 0;
  text-align: center;
}

.pagination .left-arrow, .pagination .rigth-arrow{
  width: 100%;
  height: 100%;
  background-position: 50%;
}

.pagination .left-arrow{
  transform: rotate(180deg);
  background-image: url(./images/icons/btn_arrow_right.png);
  background-repeat:no-repeat;
}

.pagination .disabled .left-arrow{
  transform: rotate(0deg);
  background-image: url(./images/icons/btn_arrow_left.png);
  background-repeat:no-repeat;
}

.pagination .rigth-arrow{
  transform: rotate(0deg);
  background-image: url(./images/icons/btn_arrow_right.png);  
  background-repeat:no-repeat;
}

.pagination .disabled .rigth-arrow{
  transform: rotate(180deg);
  background-image: url(./images/icons/btn_arrow_left.png);
  background-repeat:no-repeat;
}

.pagination li {
  background-color: #FFFFFF;
  border: 1px solid rgba(204,204,204,0.5);
  border-radius:0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.28);
}
.pagination li.active {
  background-color: #FFFFFF;
  box-shadow: none;
  border: 0;
}

.pagination li.active a {
  color: #000000;
}

.pagination li a{
  font-size: 1em;
  color: #CCCCCC;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 0;  
}

.pagination li.number{
  margin: 0 5px;
}

#overlay {
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 996;
    will-change: opacity;
}
/**************************************/
/*
  FOOTER
*/
/**************************************/
footer{
  height: $footerHeaderHeight;
  background-color: $dark-grey;
  color: $white;
  line-height: $footerHeaderHeight;
  padding: 0 5em;
}

footer img{
  vertical-align: middle;
}


/*
    MEDIA QUERIES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
@media (max-width: 1297px){
    body{
        font-size: 14px !important;
    } 
}

@media (max-width: 1090px){
  .char-card {
    height: 27em;  
  }
  .favourite-item img {
    width: 80%;  
  }
  .btn-delete {
    width: 2.5em !important;
    right: 6%;  
    }
  .char-card .char-info p {
      font-size: 1em;
  }    
}

@media (max-width: 992px){
    body{
        font-size: 13px !important;
    }    
    header nav .brand-logo {
      margin-left: 30px;
      left: 0;
      transform: translateX(0);    
    }  
}

@media (max-width: 850px){
  .content-wrapper{
    display: inherit;
  }
  .left-side{
    width: 100% !important;
  }
  .on-med-show{
    display: block !important;
  }
  .on-med-right{
    text-align: right !important;
    margin-right: 30px;
  }
  .btn-delete {
    right: 5%;
  }
  .btn-add-random{
    top: 70%;
    z-index: 5;
  }
  .btn-list.fixed{
    position: fixed !important;
    z-index: 5;
    width: 50px;
    height: 50px;
    top: 80%;
  }  
  .pagination li{
    margin-bottom: 15px;
  }
  .right-side{
    width: $listWidth !important;
    position: fixed;
    right: -$listWidth !important;
    z-index: 4;
    height: calc(100vh - 70px);
    overflow-y: auto;
    transition: all 1s;
    z-index: 999;
  }
  .show-list{
    right: 0 !important; 
  }
  .right-side .show-list img{
    display: none
  }
  .right-side .btn-list{
    top: 14px;
    left: 11px;
  }
  .bodyToggle{
    overflow-y:hidden;
  }
  #characters-list .loading img{
    width: 18em;
  }  
}

@media (max-width: 600px){ 
  .grid{
    max-width: 35em;
  }
  .grid.no-records img{
    width: 90%;
  }
  #sort{
    margin-top: 15px;    
  }
}


@media (max-width: 491px){
  footer{
    padding: 0 1em;
  }
}

@media (max-width: 450px){   
  header nav .brand-logo img {
    width: 80%;
    vertical-align: middle;
  }
  header nav .nav-wrapper input {
    width: 50%;  
  }
}

@media (max-width: 375px){
  footer {
    text-align: center;
    height: auto;
    line-height: 40px;
    padding: 10px 0;
  }
  footer div.left, footer div.right{
    float: none !important;
  }
}
