doctype html
html
  head
    title GrabilityTest
    meta(http-equiv='X-UA-Compatible', ,='', content='IE=edge')
    meta(charset='utf-8')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400', rel='stylesheet')
    link(href='/app.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
  body
    
    section#header-container
    section#main-container
    
    script(src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
    script(src='/materialize.js')
    script(src='/app.js')
  #overlay
